@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

::selection {
    background-color: rgba(115, 115, 115, 0.7);
}

.logo {
    width: 100px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 10%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    z-index: -1;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s ease-in-out;
}

.header:hover:after {
    left: 100%;
}

.navbar a{
    font-size: 1.05rem;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    margin-left: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

#check {
    display: none;
}

.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.parallax {
    pointer-events: none;
    transition: 0.45s cubic-bezier(.2,.49,.32,.99);
}


.bg-img {
    position: absolute;
    width: 240%;
    top: calc(50%);
    left: calc(50%);
    z-index: 1;
    transform: translate(-50%, -50%);
}

.sun-rays {
    position: absolute;
    width: 80%;
    top: 31.48%;
    left: 98.61%;
    transform: translate(-50%, -50%);
    z-index: 2;
    pointer-events: none;
}

.house-1 {
    position: absolute;
    width: 110.63%;
    top: 65%;
    left: 50%;
    z-index: 3;
}

.house-4 {
    position: absolute;
    width: 19.45%;
    top: 71.55%;
    left: 6.23%;
    z-index: 4;
}

.house-2 {
    position: absolute;
    width: 15.8%;
    top: 95.25%;
    left: 93.76%;
    z-index: 8;
}

.fog-7 {
    position: absolute;
    width: 182.37%;
    top: 39.22%;
    left: 71.88%;
    z-index: 5;
}

.house-3 {
    position: absolute;
    width: 81.45%;
    top: 93%;
    left: 33%;
    z-index: 6;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    color: #fff;
    z-index: 8;
    pointer-events: auto;
}

.text h1 {
    font-weight: 100;
    font-size: 5.5rem;
    letter-spacing: 1.2rem;
    line-height: 0.8;
    text-align: center;
    margin-left: 1.2rem;
}

.text h2 {
    font-weight: 900;
    font-size: 6.5rem;
    line-height: 0.8;
    text-align: center;
}

.text p {
    text-transform:lowercase;
    font-weight: 100;
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    text-align: center;
    margin-top: 1rem;
}

.fog-6 {
    position: absolute;
    width: 172.64%;
    top: 78.01%;
    left: 71.88%;
    z-index: 9;
}

.vignette {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.7));
    z-index: 100;
    pointer-events: none;
}

@media (max-width: 1100px) {
    .navbar a{
        font-size: 1rem;
        margin-left: 2rem;
    }

    .header{
        padding: 0 5%;
    }

    .text h1 {
        font-size: 4.5rem;
    }

    .text h2 {
        font-size: 5.5rem;
    }
    .text p {
        font-size: 1rem;
    }
    .house-1{
        width: initial;
        height: 70%;
        top: 69%;
    }
    .fog-6{
        width: initial;
        height: 75%;
    }
}

@media (max-width: 820px) {
    .navbar a{
        font-size: 0.85rem;
        margin-left: 2rem;
    }

    .header{
        padding: 0 2%;
    }
}

@media (max-width: 725px) {
    .navbar a{
        font-size: 0.65rem;
        margin-left: 1rem;
    }

    .header{
        padding: 0;
    }
    .text h1 {
        font-size: 3.8rem;
        line-height: 1.1;
    }

    .text h2 {
        font-size: 4.7rem;
        line-height: 1.1;
    }

    .text p {
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
    }

    header nav{
        padding: 0 1rem;
    }

    .logo{
        width: 75px;
    }

    .bg-img{
        width: initial;
        height: 384%;
    }

    .house-1{
        width: initial;
        height: 70%;
        top: 69%;
    }
    
    .fog-6{
        width: initial;
        height: 75%;
    }
}

@media (max-width: 620px) {
    .text h1 {
        font-size: 2.2rem;
    }

    .text h2 {
        font-size: 4.1rem;
    }

    .text p {
        font-size: 0.9rem;
        letter-spacing: 0.08rem;
    }

    header ul a{
        font-size: 0.6rem;
        padding: 0 0.5rem;
    }

    .house-1{
        width: initial;
        height: 70%;
        top: 70%;
    }

    .fog-6{
        width: initial;
        height: 75%;
    }
}
@media (max-width: 525px) {
    .icons{
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon{
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(8px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar{
        height: 17.7rem;
    }

    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 2rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar a{
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}
