@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;600;700;800;900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url("main.css");

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* add new */
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: rgba(37, 37, 37, 1);
    --second-bg-color: rgba(36, 36, 36, 1);
    --text-color: rgba(32, 32, 32, 1);
    --main-color: rgba(146, 28, 18, 1);
    --site-max-width: 1300px;
}

::selection {
    background-color: rgba(146, 28, 18, 0.7);
}

html {
    /* font-size: 62.5%; */
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-padding-top: 60px;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--bg-color);
    background-size: cover;
    color: var(--text-color);
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

section {
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 5%;
    overflow: hidden;
}

.logo {
    width: 150px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -1;
}

.navbar a {
    font-size: .9rem;
    color: rgba(32, 32, 32, 1);
    text-decoration: none;
    font-weight: 600;
    margin-left: 2.5rem;
    text-transform: uppercase;
    cursor: pointer;
}

.navbar a:hover, 
.navbar a.active {
    color: rgba(146, 28, 18, 1);
}

.navbar a.active{
    border-bottom: 1px solid rgba(146, 28, 18, 1);
}

.call-back {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0;
    margin: 0;
}

.call-back .call-back-phone {
    font-size: 1.15rem;
    color: rgba(32, 32, 32, 1);
    text-decoration: none;
    font-weight: 600;
    margin-left: 1.5rem;
    text-transform: uppercase;
}

.call-back .call-back-phone:before {
    content: "";
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    background: url("img/icon-phone.svg") no-repeat;
    background-size: contain;
    vertical-align: text-bottom;
}

.call-back:hover .call-back-phone:before {
    transform: rotate(-15deg) scale(1.2);
    transition: .3s ease-in-out;
}

.call-back a {
    font-size: .9rem;
    color: rgb(89, 88, 88);
    text-decoration: underline;
    font-weight: 500;
    margin-left: 2.5rem;
    cursor: pointer;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: rgba(32, 32, 32, 1);
    cursor: pointer;
    display: none;
}

.header-phone{
    display: none;
}

/* BUTTON */
.button{
    margin-top: 50px;
}

.button-link{
    display: inline-block;
    width: 250px;
    height: 80px;
    margin: 0 auto;
    padding: 0;
    line-height: 55px;
    text-align: center;
    color: var(--text-color);
    padding: 10px 20px;
    clip-path: polygon(5% 10%, 100% 0%, 90% 100%, 0% 90%);
    background-color: rgba(227, 227, 227, 1);
    font-size: 1.2rem;
    transition: .3s ease;
}

.button-link:hover{
    color: #fff;
    background-color: var(--main-color);

}
/* END BUTTON */

/* HOME */
.home-section{
    min-height: 100vh;
    background: url("img/bg.jpg") no-repeat center;
    background-size: cover;
}

.home-section .section-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    padding: 2% 0;
}

.home-section .section-content .home-details{
    margin-left: 3%;
}

.home-section .home-details .title{
    margin-top: 10%;
    font-size: 2rem;
    font-weight: 100;
}

.home-section .home-details .subtitle{
    font-family: "Teko", sans-serif;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 2.2rem;
    max-width: 70%;
    margin-top: 1rem;
}
.home-section .home-details .subtitle .first-word{
    color: var(--main-color);
}

.home-section .home-details p.description{
    font-size: 1.2rem;
    margin-top: 3%;
}

.home-section .home-details p.description-1{
    margin-top: 8%;
}
.home-section .home-details p.description-2{
    /* font-size: 1rem; */
    font-weight: 600;
}

.home-section .home-details .description{
    font-weight: 100;
    max-width: 100%;
}
.home-section .home-details p.description-3{
    margin-top: 8%;
}

.home-section .img-wrapper{
    /* max-width: 500px; */
    margin-right: 27.5%;
}
.home-section .img-wrapper img{
    width: 215%;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}
/* END HOME */

/* ABOUT */
.about{
    min-height: 60vh;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    padding: 2% 5%;
}

.about h2{
    margin-bottom: 2%;
    font-size: 2.5rem;
    font-weight: 400;
}

.about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
.about-content .content-info p{
    font-size: 1.2rem;
    font-weight: 100;
}

.about-content .content-info p span{
    font-weight: 300;
}

#mybox1id{
    display: none;
    margin-top: 5%;
}
#mybox1id p{ 
    margin-top: 3%; 
}
#mybox1id p .mybox1-subtitle{ 
    font-weight: 800;
    font-size: 1.3rem;
}

.about-content .about-slider{
    width: 120%;
    align-self: start;
    flex: 1 0 40%;
}

.about-content .content-info p{
    line-height: 2rem;
}

.about-content .content-info .director-link,
.about-content .content-info .company-link{
    color: var(--main-color);
    /* text-decoration: underline; */
    font-weight: 600;
    cursor: pointer;
}

.about-content .about-description{
    margin-top: 3%;
}

.button-link{
    clip-path: polygon(0% 0%, 100% 0%, 80% 80%, 15% 90%);
    background-color: var(--main-color);
    color: #fff;
    padding-bottom: 2rem;
}

.button-link:hover{
    color: var(--text-color);
    background-color: rgba(227, 227, 227, 1);

}



/* ------------SLIDER-------------- */
.about-slider{
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
}

.about-slider input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.nav-manual{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid rgb(135, 135, 135);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    z-index: 1;
}

.manual-btn:not(:last-child){
    margin-right: 30px;
}

.manual-btn:hover{
    background: rgb(112, 111, 111);
}

#radio1:checked ~ .slides .first{
    margin-left: 0;
}
#radio1:checked ~ .nav-manual .manual-btn-1{
    background: rgb(112, 111, 111);
}
#radio1:not(:checked) ~ .nav-manual .manual-btn-1{
    background: rgb(255, 255, 255);
}

#radio2:checked ~ .slides .first{
    margin-left: -20%;
}
#radio2:checked  ~ .nav-manual .manual-btn-2{
    background: rgb(112, 111, 111);
}
#radio2:not(:checked) ~ .nav-manual .manual-btn-2{
    background: rgb(255, 255, 255);
}

#radio3:checked ~ .slides .first{
    margin-left: -40%;
} 
#radio3:checked  ~ .nav-manual .manual-btn-3{
    background: rgb(112, 111, 111);
}
#radio3:not(:checked) ~ .nav-manual .manual-btn-3{
    background: rgb(255, 255, 255);
}
/* -------------END SLIDER---------------- */

/* END ABOUT */

/* DIRECTORS */
.directors{
    min-height: 60vh;
    padding: 2% 5%;
}
.director1{
    background: #fdfdfd; 
}
.director2{
    background: url("img/bg.jpg") no-repeat center;
    background-size: cover;
    color: #ffffff;
}

.directors h2{
    margin-bottom: 2%;
    padding-top: 1%;
    font-size: 2.5rem;
    font-weight: 400;
}

.director-box{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.director-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 1 33.333%;
    gap: 1rem;
    margin-left: 3rem;
}

.directors-subtitle{
    font-size: 2rem;
    font-weight: 400;
}

.director-content p{
    font-size: 1.2rem;
}

.director-content .description{
    margin-top: 1%;
}
.director-box .director-img img{
    max-height: 100%;
}

.mybox{
    display: none;
    margin-top: 5%;
}
#mybox2id p:first-child, 
#mybox3id p:first-child{
    font-weight: 600;
    font-size: 1.3rem;
}
#mybox2id p, 
#mybox3id p{
     
    margin-top: 3%; 
}
#mybox2id p span{ 
    font-weight: 800;
    font-size: 1.3rem;
}
#mybuttonid3 {
    background-color: rgba(227, 227, 227, 1);
    color: var(--text-color);
}

#mybuttonid3:hover{
    color: #fff;
    background-color: var(--main-color);

}
#mybox2id p a{
    color: #d84040;
    font-weight: 600;
    font-size: 1.3rem;
    /* text-decoration: underline; */
}
/* END DIRECTORS */

/* SERVICRS */
.services{
    min-height: 80vh;
    background: url("img/bg.jpg") no-repeat center;
    background-size: cover;
    color: #fff;
    padding: 2% 5%;
}

.services h2 {
    margin-bottom: 2%;
    padding-top: 1%;
    font-size: 2.5rem;
    font-weight: 400;
}

.services-container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box{
    flex: 1 1 18rem;
    /* background: var(--second-bg-color); */
    padding: 3rem 1rem;
    border-radius: 2rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-container .services-box h3 {
    padding: 5% 0%;
    font-size: 1.7rem;
    font-weight: 400;
}

.services-box img{
    max-width: 50%;
}
.services-container .services-box p{
    font-weight: 100;
    font-size: 1.2rem;
}
/* END SERVICRS */

/* PORTFOLIO */
.portfolio{
    padding: 2% 5%;
    min-height: 85vh;
    background: url("img/bg.jpg") no-repeat center;
    background-size: cover;
    color: #fff;
}

.portfolio h2 {
    margin-bottom: 2%;
    padding-top: 1%;
    font-size: 2.5rem;
    font-weight: 400;
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex
}

.portfolio-box img{
    width: 100%;
    height: 300px;
    transition: .5s ease;
    object-fit: cover;
}

.portfolio-box:hover img{
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(1, 1, 1, 0.8));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(110%);
    transition: .3s ease;
}

.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}

.portfolio-box .portfolio-layer h4{
    font-size: 1.3rem;
    font-weight: 400;
}

.portfolio-box .portfolio-layer p{
    font-size: .9rem;
    font-weight: 200;
}

.portfolio-box .portfolio-layer button{
    margin-top: 1.5rem;
    cursor: pointer;
    display: inline-block;
    width: 170px;
    height: 70px;
    padding-bottom: 3%;
    text-align: center;
    color: var(--text-color);
    background-color: rgba(227, 227, 227, 1);
    clip-path: polygon(0% 0%, 100% 0%, 80% 95%,12% 80%);
    font-size: 1.1rem;
    transition: .3s ease;
}

.portfolio-box .portfolio-layer button:hover{
    color: #fff;
    background-color: var(--main-color);
}

.portfolio-box .portfolio-layer .read-more-content{
    display: none;
}

.popup-box{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
    /* display: none; */
}
.popup-box.open{
    visibility: visible;
    opacity: 1;
}
/* body.prevent-scroll {
    position: relative !important;
} */

.popup-box .popup-content{
    margin-top: 1.5rem;
    background: #ffffff;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding: .5rem; */

    touch-action: none;
}

.popup-box .popup-header{
    padding: 1rem;
}

.popup-box .popup-header h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
}

.popup-box .popup-header .popup-close-icon{
    position: absolute;
    font-size: 3rem;
    font-weight: 300;
    height: 40px;
    width: 40px;
    right: 10px;
    top: 10px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    color: var(--main-color);
}

.popup-box .popup-body{
    padding: 1rem;
    max-height: 80%;
    /* max-width: 80%; */
    overflow-y: auto;
}
.popup-box .popup-body p{
    margin: 1rem 0;
    padding: 0 5rem;
}
.popup-box .popup-body img{
    max-width: 60%;
    /* height: 80%; */
    /* object-fit: cover; */
    overflow: hidden;
    display: block;
    margin: 0 auto;
    /* margin-top: 3rem; */
}

.popup-box .popup-footer{
    margin-top: 1rem;
    text-align: center;
}

.popup-box .popup-footer .btn{
    margin-top: 1rem;
    cursor: pointer;
    /* display: inline-block; */
    width: 170px;
    height: 70px;
    padding-bottom: 1%;
    text-align: center;
    color: #fff;
    clip-path: polygon(0% 0%, 100% 0%, 80% 95%,12% 80%);
    background-color: var(--main-color);
    font-size: 1.2rem;
    transition: .3s ease;
}
.popup-box .popup-footer .btn:hover{
    color: var(--text-color);
    background-color: rgba(227, 227, 227, 1);
}
/* END PORTFOLIO */

/* PARTNERS */
.partners{
    /* margin-top: -250px; */
    min-height: 60vh;
    background: #fff;
    color: #2d2c2c;
    padding: 2% 0;
}

.partners h2{
    margin-bottom: 2%;
    padding-top: 1%;
    font-size: 2.5rem;
    font-weight: 400;
    padding-left: 5%;
}

.partners-logo{
    overflow: hidden;
    padding: 2rem 0;
    white-space: nowrap;
    position: relative;
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.partners-logo::before,
.partners-logo::after{
    content: "";
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    z-index: 2;
}

.partners-logo::before{
    left: 0;
    background: linear-gradient(
        to left,
     rgba(255, 255, 255, 0),
     #fff  
    );
}

.partners-logo::after{
    right: 0;
    background: linear-gradient(
        to left,
        #fff,
     rgba(255, 255, 255, 0)
    );
}


.partners-logo:hover .logos-slider{
    animation-play-state: paused;
}

.logos-slider{
    display: inline-block;
    animation: 40s slide infinite linear;
}

.logos-slider img{
    width: 180px;
    height: 180px;
    margin: 0 50px;
}
/* END PARTNERS */

/* CONTACT */
.contact{
    padding: 2% 5%;
    min-height: 70vh;
    /* background: url("img/bg.jpg") no-repeat center; */
    background: rgb(79, 79, 79) ;
    background-size: cover;
    color: #fff;
}

.contact h2 {
    margin-bottom: 2%;
    padding-top: 1%;
    font-size: 2.5rem;
    font-weight: 400;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
}

.contact form .button{
    margin-top: 1rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.contact form .input-box input,
.contact form textarea{
    width: 59%;
    padding: 1.5rem;
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
    color: #333;
    background: #f7f7f7;
    margin: .7rem 0;
}

.contact form textarea{
    width: 59%;
    padding: 1.5rem;
    font-size: 1.3rem;
}

.contact form input.btn{
    cursor: pointer;
    display: inline-block;
    width: 350px;
    height: 100px;
    padding: 0;
    line-height: 25px;
    text-align: center;
    color: #fff;
    clip-path: polygon(0% 0%, 100% 0%, 80% 95%,12% 80%);
    background-color: var(--main-color);
    font-size: 1.5rem;
    transition: .3s ease;
}
.contact form input.btn:hover{
    color: var(--text-color);
    background-color: rgba(227, 227, 227, 1);
}
/* END CONTACT */

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #201b1b;
    color: #fff;
}

.footer p{
    font-size: 1.2rem;
}

.footer p span{
    color: var(--main-color);
}

.footer .footer-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
}

footer .text-right p,
footer .text-left p{
    position: relative;
    z-index: 1;
}
footer .text-right p::after,
footer .text-left p::after{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: -5px;
    top: 5px;
    background: var(--main-color);
    transform: rotate(25deg);
    z-index: -1;

}
/* END FOOTER */

/* RESPONSIVE */
@media (max-width: 1320px) {
    .home-section .home-details{
        margin-top: 8%;
    }
    .home-section .home-details .title{
        font-size: 2.5rem;
    }
    .home-section .home-details h3.subtitle{
        font-size: 2.5rem;
    }


    .about-content .about-slider {
        width: 250%;
    }
    .about-content .content-info p{
        line-height: 1.5rem;
    }
    .about-content{
        gap: 3rem;
    }

    .services{
        padding-bottom: 7%;
    }
    .services-container .services-box{
        padding: .5rem 1rem;
    }
    .services-container .services-box h3 {
        font-size: 1.5rem;
    }
    .services-container .services-box p{
        font-size: 1.1rem;
    }

    .portfolio-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
    .portfolio-box img{
        min-height: 300px;
    }

    .header {
        padding: 0 5%;
    }
    .navbar a {
        font-size: .8rem;
        margin-left: 1rem;
    }
    .call-back .call-back-phone {
        font-size: 1.1rem;
    }

    
    .directors{
        padding: 0 3%;
    }
    .director-box{
        gap: 1rem;
    }
    .director-content{
        gap: 1rem;
        margin-left: 1rem;
        /* flex: 1 0 50%; */
    }
    .director-content p{
        font-size: 1rem;
    }

    .popup-box .popup-content{
        margin-top: 1.5rem;
        padding: 1rem .5rem;
        height: 80%;
    }
    .popup-box .popup-header{
        padding: .5rem;
    }
    .popup-box .popup-body{
        max-height: 85%;
        overflow-y: auto;
    }
    .popup-box .popup-footer{
        margin-top: 1rem;
        padding: 0;
    }
    .popup-box .popup-footer .btn{
        width: 170px;
        height: 50px;
        padding-bottom: 2%;
    }
}

@media (max-width: 960px) {
    #home{
        padding: 0 2%;
    }
    .home-section .home-details .title{
        font-size: 1.7rem;
    }
    .home-section .home-details h3.subtitle{
        font-size: 2rem;
    }
    .home-section .home-details .description{
        font-size: 1rem;
    }
    .home-section .home-details .button-link{
        width: 220px;
        height: 80px;
    }

    .about-content .about-slider {
        width: 350%;
    }
    .about-content{
        gap: 2rem;
    }
    /* .about-content .content-info p{
        font-size: .8rem;
    } */
    .content-info .button{
        margin-top: 4%;
    }

    .services{
        padding-bottom: 7%;
    }
    .services-container .services-box{
        padding: .5rem 1rem;
    }
    .services-container .services-box h3 {
        font-size: 1.5rem;
    }
    .services-container .services-box p{
        font-size: 1.1rem;
    }

    /* .portfolio-box:hover .portfolio-layer{
        transform: translateY(0);
    } */
    .portfolio-box .portfolio-layer h4{
        font-size: 1rem;
    }
    .portfolio-box .portfolio-layer p{
        font-size: .7rem;
    }
    
    .portfolio-box .portfolio-layer a{
        margin-top: 1rem;
        width: 2rem;
        height: 2rem;
    }
    .portfolio-box .portfolio-layer a i{
        font-size: 1rem;
    }
    .portfolio-box img{
        min-height: 300px;
    }
    .portfolio-box .portfolio-layer{
        transform: translateY(0);
    }

    
    .director-content{
        gap: 1rem;
        margin-left: 1rem;
        /* flex: 1 0 50%; */
    }
    .director-content p{
        font-size: 1rem;
    }


    .navbar a {
        font-size: .6rem;
        margin-left: .5rem;
    }
    .call-back .call-back-phone {
        font-size: .7rem;
    }
    .call-back a{
        font-size: .7rem;
    }

    .directors{
        padding: 4% 2%;
    }
    .director-content{
        gap: 1rem;
        margin-left: 1.5rem;
        flex: 1 1 60%;
    }
    .director-content p{
        font-size: 1rem;
    }

    .contact form .input-box input,
    .contact form textarea{
    width: 100%;
    }
    footer .footer-text p{
        font-size: 1rem;
    }

    .popup-box .popup-content{
        margin-top: 2rem;
        padding: 1rem .5rem;
        height: 80%;
    }
    .popup-box .popup-header{
        padding: .5rem;
    }
    .popup-box .popup-body{
        max-height: 85%;
        overflow-y: auto;
    }
    .popup-box .popup-footer{
        margin-top: 1rem;
        padding: 0;
    }
    .popup-box .popup-footer .btn{
        width: 170px;
        height: 50px;
        padding-bottom: 2%;
    }
}

@media (max-width: 720px) {
    .home-section .home-details {
        margin-top: 0;
    }
    .home-section .home-details .title {
        margin-top: 5%;
    }
    .home-section .home-details p.description-1{
        margin-top: 5%;
    }
    .home-section .home-details p.description{
        max-width: 100%;
        font-size: 1rem;
        margin-top: 2%;
    }
    .home-section .home-details p.description-3{
        margin-top: 8%;
    }
    .home-section .section-content{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        /* min-height: 100vh; */
    }
    .home-section .img-wrapper img{
        margin-top: 28%;
        width: 150%;
    }
    .home-section{
        padding-bottom: 8%;
    }
    .home-section .home-details .subtitle{
        font-size: 1.6rem;
    }
    .home-section .section-content .home-details {
        margin-bottom: 5%;
    }

    .about-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-content .about-slider{
        width: 100%;
    }
    .about-content{
        gap: 2rem;
    }

    .services{
        padding-bottom: 2rem;
    }
    .services h2{
        margin-bottom: 2rem;
    }
    .services-container {
        gap: 1rem;
    }
    .services-container .services-box{
        padding: .5rem 1rem;
    }
    .services-container .services-box h3 {
        font-size: 1.5rem;
    }
    .services-container .services-box p{
        font-size: 1.1rem;
    }

    .portfolio{
        margin-bottom: 2rem;
    }
    .portfolio-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 1.3rem;
    }
    .portfolio-box .portfolio-layer h4{
        font-size: 1.3rem;
    }
    .portfolio-box .portfolio-layer p{
        font-size: 1rem;
        max-height: 40%;
    }
    .portfolio-box .portfolio-layer a{
        margin-top: 1rem;
        width: 2.5rem;
        height: 2.5rem;
    }
    .portfolio-box .portfolio-layer a i{
        font-size: 1.2rem;
    }
    .portfolio-box .portfolio-layer{
        transform: translateY(0);
    }
    .portfolio-box img{
        width: 100%;
        max-height: 350px;
        transition: .5s ease;
    }
    .portfolio-box .portfolio-layer button {
        margin-top: .5rem;
    }

    .icons {
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon {
        display: none;
    }
    .icons #close-icon {
        display: none;
    }
    #check:checked~.icons #close-icon {
        display: block;
    }
    .navbar+a:active .navbar{
        height: 0;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(227, 227, 227, 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: .3s ease;
    }
    #check:checked~.navbar {
        height: 25rem;
    }
    .call-back {
        display: none;
    }
    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }
    #check:checked~.navbar a{
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
    .header-phone{
        display: block;
    }

    .partners{
        min-height: 40vh;
    }
    .partners-logo::before{
        background: none;
    }
    .partners-logo::after{
        background: none;
    }
    .logos-slider img{
        width: 140px;
        height: 140px;
    }

    .directors h2{
        font-size: 1.8rem;
    }
    .directors-subtitle {
        font-size: 1.5rem;
        font-weight: 400;
    }
    .director-content{
        gap: .8rem;
        margin-left: 1rem;
        flex: 1 1 60%;
    }
    .director-box{
        flex-direction: column;
    }
    .director1 .director-box{
        flex-direction: column-reverse;
    }
    .director-img{
        width: 100%;
        text-align: center;
    }
    .director-img img{
        width: 80%;
    }
    .directors{
        padding: 5% 2%;
    }
    .director-content p{
        font-size: 1rem;
    }

    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    footer .text-left{
        text-align: center;
    }
    footer .text-right{
        display: none;
    }
    footer .text-right p::after,
    footer .text-left p::after{
    display: none;
    }
    
    /* .popup-box .popup-content{
        background: #ffffff;
        width: 90%;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: .5rem;
    } */
    .popup-box .popup-content{
        margin-top: 1.5rem;
        padding: 1rem .5rem;
        height: 80%;
        width: 90%;
        overflow: hidden;
    }
    .popup-box .popup-header{
        padding: .5rem;
    }
    .popup-box .popup-header h3{
        font-size: 1.2rem;
    }
    .popup-box .popup-header .popup-close-icon{
        font-size: 2rem;
        height: 35px;
        width: 35px;
        right: 0;
        top: 0;
    }
    .popup-box .popup-body{
        max-height: 85%;
        overflow-y: auto;
    }
    .popup-box .popup-body p{
        font-size: .8rem;
        padding: 0;
    }
    .popup-box .popup-body img{
        min-width: 100%;
    }
    .popup-box .popup-footer{

        margin-top: 1rem;
        /* padding: 1rem; */
    }
    .popup-box .popup-footer .btn{
        margin-top: 0;
        width: 170px;
        height: 50px;
        padding-bottom: 1%;
    }
}
